{% extends 'personal_assistant/base.html' %}

{% block title %}
Новини
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2>Новини</h2>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'news:ukraine_news' %}">Головна</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'news:ukraine_news' %}">Україна</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'news:ukraine_news' %}">Фінанси</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'news:culture_news' %}">Культура</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'news:sport_news' %}">Спорт</a>
        </li>
    </ul>

<table class="currency-table">
    <tr>
        <th class="center-text">Валюта</th>
        <th class="center-text">Курс до гривні</th>
        <th class="center-text">Код</th>
    </tr>
    {% for currency in currencies %}
    <tr>
        <td class="center-text">{{ currency.txt }}</td>
        <td class="center-text">{{ currency.rate }}</td>
        <td class="center-text">{{ currency.cc }}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}