{% extends 'personal_assistant/base.html' %}

{% block title %}
File Storage
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center">
        <h2>File Storage</h2>
        <a href="{% url 'file_storage:file-upload' %}" class="btn btn-primary">Upload New File</a>
    </div>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Preview</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>
                    <!-- Тут буде мініатюра або іконка файла -->
                </td>
                <td>{{ file.title }}</td>
                <td>{{ file.description }}</td>
                <td>
                    <a href="{{ file.file.url }}" class="btn btn-success" download>Download</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
