{% extends 'personal_assistant/base.html' %}

{% block title %}
Видалити нотатку
{% endblock %}


{% load humanize %}
{% block content %}

<div class="container mt-3">
    {% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
    {% endif %}
    <h2 style="text-align: center;">Видалити нотатку</h2>


    <div class="author-details">
        <form method="post" action="{% url 'notebook:delete_note' notebook_id %}">
            {% csrf_token %}
            <div><input type="hidden" name="confirm_delete" value="False" id="id_confirm_delete"></div>
            {{ form.confirm_delete }}
            {{form.errors}}

            <div class="quote" style="margin-bottom: 25px;" itemscope="" itemtype="http://schema.org/CreativeWork">
                <h3>{{ note.title }}</h3>
                <span class="text" itemprop="text">
            <p>{{ note.description }}</p>
            <p><b>Час створення: </b>{{ note.created_at|naturaltime }}</p>
        </span>
                <div class="tags">
                    <meta class="keywords" itemprop="keywords"
                          content="{% for tag in notebook.tags.all %}{{ tag.name }},{% endfor %}">
                    {% for tag in notebook.tags.all %}
                    <a class="tag" href="{% url 'notebook:tag_notes' tag_name=tag.name %}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>


            <div class="d-flex justify-content-start">
                <div class="quote ms-3">
                    <span class="text" itemprop="text">
                        <p><strong> Ви впевнені, що хочете видалити цю нотатку?</strong></p>
                    </span>
                </div>
                <div class="col-md-3">
                    <button style="margin-top: 0px; margin-left: 25px; width: 80%" type="submit" class="btn btn-crimson">Пiдтвердити</button>
                </div>
                <div class="col-md-3">
                    <a style="margin-left: auto; margin-right: auto; width: 80%" href="{{ request.META.HTTP_REFERER|default:'{% url " notebook:all_notes_paginate" %}' }}"
                    class="btn btn-secondary">Скасувати</a>

                </div>
            </div>

        </form>


        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <span {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
