{% extends 'personal_assistant/base.html' %}

{% block title %}
Notebook
{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'notebook/style.css' %}">

{% csrf_token %}


{% if search_form.errors and search_form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {{search_form.non_field_errors}}
</div>
{% endif %}

<div class="quote ms-5 col-md-7" itemscope="" itemtype="http://schema.org/CreativeWork">
    <p>
        {% comment %}
        {% if user.is_authenticated %}
        {% endcomment %}

        <p class="search_area">
            <a href="{% url 'notebook:add_note' %}" class="btn btn-primary ms-3">Add Note</a>
            <form id="search-form" action="{% url 'notebook:search_notes' %}" method="GET">
                <div class="row g-3 align-items-center ms-3">
                    <div class="col-auto">
                        <label for="search" class="col-form-label"><b>Search Notes</b></label>
                    </div>
                    <div class="col-auto">
                        {{ search_form.query }}
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-info">Search</button>
                    </div>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                            <strong><i>Request must be at least 3 (three) characters.</i></strong>
                        </span>
                        <span>{{ search_form.errors.query }}</span>
                    </div>
                </div>
            </form>
            {% if form.query.value %}
                <p>Search Query: {{ search_form.query.value }}</p>
            {% endif %}
        </p>
        
        {% comment %}
        {% endif %}
        {% endcomment %}

    </p>
</div>
<div class="container mt-3">
    <h2>All Notes</h2>
</div>
<div class="row">
    <div class="col-md-8">
    
    {% for notebook in notebooks %}

    <div class="quote ms-5" itemscope="" itemtype="http://schema.org/CreativeWork">
        <h3>{{ notebook.title }}</h3>
        <span class="text" itemprop="text">
            <p>{{ notebook.description }}</p>
            <p>Created at: {{ notebook.created_at }}</p>
            <span class="mb-3" style="float: right;">

                {% comment %}
                {% if user.is_authenticated and quote.user == user %}
                {% endcomment %}
                <a href="{% url 'notebook:delete_note' notebook.id %}" class="btn btn-danger">Delete</a>
                {% comment %}
                {% endif %}
                {% endcomment %}

            </span>
        </span>

        {% comment %}
        <span>
            by <small class="author" itemprop="author">{{ quote.author|author }}</small>
            <a href="{% url 'quotes:author_detail' author_id=quote.author.id %}" target="_self">(about)</a>
        </span>
        {% endcomment %}
        
        <div class="tags">
            Tags:
            <meta class="keywords" itemprop="keywords" content="{% for tag in notebook.tags.all %}{{ tag.name }},{% endfor %}">
            {% for tag in notebook.tags.all %}
                <a class="tag" href="{% url 'notebook:tag_notes' tag_name=tag.name %}">{{ tag.name }}</a>
            {% endfor %}
        </div>

    </div>
    
    {% endfor %}

    <nav>
        <ul class="pager">
           
            <li class="previous ms-5" style="float: left;">
                <a class="{% if not notebooks.has_previous %} disabled {% endif %}"
                href="{% if notebooks.has_previous %} {% url 'notebook:all_notes_paginate' notebooks.previous_page_number %} {% else %} # {% endif %}">
                    <span class="btn btn-secondary" aria-hidden="true">←</span> Previous</a>
            </li>
                    
            <li class="next" class="btn btn-secondary">
                <a class="{% if not notebooks.has_next %} disabled {% endif %}"
                href="{% if notebooks.has_next %} {% url 'notebook:all_notes_paginate' notebooks.next_page_number %} {% else %} # {% endif %}">
                Next <span class="btn btn-secondary" aria-hidden="true">→</span></a>
            </li>

        </ul>        
    
    </nav>
    
    </div>
</div>

{% endblock %}