{% extends 'personal_assistant/base.html' %}

{% block title %}
Оновлення нотатки
{% endblock %}

{% block content %}
<div class="container mt-3">
    {% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
    {% endif %}

    <h2 style="text-align: center;">Оновити Нотатку</h2>
      <a style="margin-bottom: 25px;" href="{{ request.META.HTTP_REFERER|default:'{% url "notebook:all_notes_paginate" %}' }}"
                        class="btn btn-warning">Повернутися</a>

    <div class="author-details">
        <form method="post" action="{% url 'notebook:update_note' notebook_id %}">
            {% csrf_token %}
            <div class="mb-5">
                <label class="form-label">{{ note_form.title.label_tag }}</label>
                {{ note_form.title }}
            </div>
            <div class="mb-5">
                <label class="form-label">{{ note_form.description.label_tag }}</label>
                {{ note_form.description }}
            </div>
            <div class="mb-5">
                <label class="form-label">{{ note_form.tags.label_tag }}</label>
                <input type="text" name="{{ note_form.tags.name }}" value="{{ note_form.tags.value|join:', ' }}">
                {% comment %}
                {{ note_form.tags }}
                {% endcomment %}
                <p>
                    <span class="help-text">{{ note_form.tags.help_text }}</span>
                </p>
            </div>
            <div style="margin-bottom: 50px" class="d-flex justify-content-start" class="mb-3">
                <button type="submit" style="margin-top: 0px" class="btn btn-primary btn-crimson me-2">Зберегти</button>
                <input type="reset" style="width: 150px" class="btn btn-secondary" value="Скинути">

            </div>
        </form>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <span {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}