{% extends 'personal_assistant/base.html' %}

{% block title %}
Вхід
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2>Вхід користувача</h2>
    {% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
    {% endif %}


    <form method="post" style="margin-top: 30px;">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Ім'я користувача
                {{ form.username }}
            </label>
            <span>{{form.errors.username}}</span>
        </div>
        <div class="mb-3">
            <label class="form-label">Пароль
                {{ form.password }}
            </label>
            <span>{{form.errors.password}}</span>
        </div>
        <button type="submit" class="btn btn-primary">Відправити</button>
        <button type="reset" class="btn btn-secondary">Скинути</button>
    </form>
</div>

{% endblock %}