{% extends 'personal_assistant/base.html' %}

{% block title %}
Новий пароль
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2>Введіть новий пароль</h2>
    {% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
    {% endif %}


    <form method="post" style="margin-top: 30px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зберегти новий пароль</button>
    </form>


</div>

{% endblock %}